@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@media (max-width: 500px) {
    @viewport {
        width: 67%; 
        height: 67%;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {

    /* height:100vh;  Utilizar 100% da tela */
    box-sizing: border-box; /* Para os elementos filhos não ultrapassarem os elementos pais */
    background-color: #E5E7F4;
    color: #343640;
    
}

.cabecalho{
    padding: 2% 0% 0% 15%; /*superior - direito - inferior - esquerdo */
    
}

.cabecalho__menu{
    display: flex;
    gap: 80px
}

.cabecalho__menu__link{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    gap: 80px;
    color: #987100;
    text-decoration: none;
}

.apresentacao {
    
    padding: 5% 15%; /* Primeiro valor eixo vertical, segundo valor eixo horizontal */
    display: flex; /* utilizando o flexbox para alinhar o conteúdo na página */
    align-items:center;
    justify-content: space-between;
    
}


.apresentacao__conteudo {

    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {

    font-size: 36px;
    font-family: 'Krona One', sans-serif;

}

.titulo-destaque {
    color:#987100;
}

.apresentacao__conteudo__texto {

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__contatos {

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__contatos__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__contatos__link {

    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border: 2px solid #987100;
    border-radius: 8px;
    font-size: 24 px;
    padding: 21.5px 0; /* Primeiro valor eixo vertical, segundo valor eixo horizontal */
    text-decoration: none; /* Elimina a formatação do link */
    color:#343640;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;


}


.apresentacao__contatos__link:hover {
    background-color: #C4CAEA;

    
}

.apresentacao__fotoprincipal:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.autoria{
    background-color:#987100;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #C4CAEA;
    padding: 23.64px;
    text-align: center;
}

.apresentacao__conteudo__texto__link{
    text-decoration: none;
    color:#987100
}